.main_container {
  background-color: rgb(37, 37, 37);
  width: 100%;
  height: auto;
  color: white;
}
.homePage {
  background-color: rgb(37, 37, 37);
  width: 100%;

  color: rgb(255, 255, 255);
}

/* ? About */

#about_hero {
  height: 1500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.about_hero1 {
  padding-top: 100px;
  width: 70%;
  text-align: center;
}
.about_hero2 {
  width: 70%;
  padding-top: 200px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 100px;
}
.about_section2_video {
  width: 45%;
  height: 500px;
}
section2_video
/* ? Container Section */
.container {
  width: 100%;
  height: auto;
}
.loading-wave {
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.loading-bar {
  width: 200px;
  height: 300px;
  margin: 0 5px;
  background-color: #d334db;
  border-radius: 5px;
  animation: loading-wave-animation 1s ease-in-out infinite;
}

.loading-bar:nth-child(2) {
  animation-delay: 0.1s;
}

.loading-bar:nth-child(3) {
  animation-delay: 0.2s;
}

.loading-bar:nth-child(4) {
  animation-delay: 0.3s;
}

@keyframes loading-wave-animation {
  0% {
    height: 100px;
  }

  50% {
    height: 250px;
  }

  100% {
    height: 100px;
  }
}

/* ? Hero */

.hero {
  width: 100%;
  height: 880px;
  display: flex;
  justify-content: center;
  column-gap: 100px;
  flex-wrap: wrap;
  align-items: center;
}

.hero_text {
  font-size: 6em;
  color: white;
}

.fadeinout {
  animation: fadeinout 4s infinite;
}
/* ? Animation image */
@keyframes fadeinout {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.section2 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  padding-bottom: 100px;
}
.section2_text {
  color: white;
  text-align: center;
  margin-bottom: 60px;
  font-size: 60px;
}
.section2_video {
  width: 45%;
  height: 600px;
}
/* ? Section2(Footer) */
.footer_text {
  color: white;
  font-size: 50px;
}
.footer {
  border: 2px solid rgb(21, 21, 21);
  background-color: rgb(43, 43, 43);
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
.footer_item {
  width: 33.3%;
  display: flex;
  gap: 30px;
  align-items: center;
  flex-direction: column;
}
.footer_item div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7px;
}
.footer_inp {
  background-color: #212121;
  max-width: 190px;
  height: 40px;
  padding: 10px;
  /* text-align: center; */
  border: 2px solid white;
  border-radius: 5px;
  /* box-shadow: 3px 3px 2px rgb(249, 255, 85); */
}

.footer_inp:focus {
  color: rgb(162, 0, 255);
  background-color: #212121;
  outline-color: rgb(234, 0, 255);
  box-shadow: -3px -3px 15px rgb(255, 0, 212);
  transition: 0.1s;
  transition-property: box-shadow;
}
button {
  height: 50px;
  margin: 5px;
  width: 120px;
  background: #333;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: Consolas, Courier New, monospace;
  border: solid rgb(162, 0, 255) 1px;
  font-size: 16px;
  color: rgb(161, 161, 161);
  -webkit-transition: 500ms;
  transition: 500ms;
  border-radius: 5px;
  background: linear-gradient(145deg, #2e2d2d, #212121);
  -webkit-box-shadow: -1px -5px 15px #41465b, 5px 5px 15px #41465b,
    inset 5px 5px 10px #212121, inset -5px -5px 10px #212121;
  box-shadow: -1px -5px 15px #41465b, 5px 5px 15px #41465b,
    inset 5px 5px 10px #212121, inset -5px -5px 10px #212121;
}

button:active {
  -webkit-box-shadow: 1px 1px 13px #20232e, -1px -1px 33px #545b78;
  box-shadow: 1px 1px 13px #20232e, -1px -1px 33px rgb(234, 0, 255);
  color: #d6d6d6;
  -webkit-transition: 100ms;
  transition: 100ms;
}

@media screen and (max-width: 671px) {
  .footer {
    height: 600px;
    display: flex;
    flex-wrap: wrap;
  }
  .footer_item {
    width: 70%;
  }
  .about_hero2 {
    width: 100%;
  }
  .about_section2_video {
    width: 100%;
  }
}

@media screen and (max-width: 1000px) {
  .about_hero2 {
    width: 100%;
  }
  .about_section2_video {
    width: 100%;
  }
}
@media screen and (max-width: 1429px) {
  #about_hero {
    height: 2300px;
  }
}
